body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
margin:0;
}

.logo{
width:110px;
margin:auto;
display:block;
}

h1{
font-size:26px;
}

button{
padding:20px;
margin:10px;
font-size:20px;
border-radius:18px;
width:85%;
max-width:350px;
border:none;
color:white;
font-weight:bold;
box-shadow:0 4px 12px rgba(0,0,0,0.5);
}

.piso{background:#ff6b6b;}
.arzon{background:#feca57;}
.anillos{background:#48dbfb;}
.salto{background:#1dd1a1;}
.paralelas{background:#5f27cd;}
.fija{background:#ff9ff3;}

.back{
background:#576574;
}

.list{
text-align:left;
max-width:500px;
margin:auto;
font-size:22px;
background:rgba(0,0,0,0.35);
padding:20px;
border-radius:20px;
}

.item{
display:flex;
align-items:center;
padding:10px 0;
}

input[type="checkbox"]{
transform:scale(1.8);
margin-right:15px;
}
