body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
margin:0;
}

.logo{
width:120px;
margin:10px auto;
display:block;
}

h1{
font-size:28px;
margin-bottom:10px;
}

button{
padding:26px;
margin:12px auto;
font-size:22px;
border-radius:22px;
width:95%;
border:none;
color:white;
font-weight:bold;
display:block;
box-shadow:0 6px 16px rgba(0,0,0,0.6);
}

.piso{background:#ff6b6b;}
.arzon{background:#feca57;}
.anillos{background:#48dbfb;}
.salto{background:#1dd1a1;}
.paralelas{background:#5f27cd;}
.fija{background:#ff9ff3;}

.back{
background:#576574;
}

.list{
text-align:left;
width:95%;
margin:auto;
font-size:26px;
background:rgba(0,0,0,0.4);
padding:25px;
border-radius:22px;
}

.item{
display:flex;
align-items:center;
padding:14px 0;
}

input[type="checkbox"]{
transform:scale(2.2);
margin-right:18px;
}
